<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75290693002-8cqq6linamh1oq4gj74qb73kdh0uo8j7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75290693002-8cqq6linamh1oq4gj74qb73kdh0uo8j7</string>
	<key>API_KEY</key>
	<string>AIzaSyB392ZMbpn8I1sa1SwZ8H7W7nSmGqTSY8s</string>
	<key>GCM_SENDER_ID</key>
	<string>75290693002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babynames</string>
	<key>PROJECT_ID</key>
	<string>test-854b0</string>
	<key>STORAGE_BUCKET</key>
	<string>test-854b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75290693002:ios:941ea5188c4ae26d0a0c73</string>
	<key>DATABASE_URL</key>
	<string>https://test-854b0.firebaseio.com</string>
</dict>
</plist>